<div class="common-select common-select-host gl-control-inputs-wrap mod-select" id="common-select-host">
  <div class="common-select input-wrap mod-select">
    <div class="common-select select-title" id="select-title">выберете</div>
    <div class="common-select options-wrap" id="options-wrap">
    </div>
  </div>
</div>
