@import 'consts';
@import 'sizes';
@import 'colors';

.gl-page-content {
  padding-left: $page-content-padding-fl;
  padding-right: $page-content-padding-fl;
  margin: 0 auto;
  max-width: 1600px;

  @include for-md-down {
    padding-left: $page-content-padding-md-down;
    padding-right: $page-content-padding-md-down;
  }

  @include for-sm-down {
    padding-left: $page-content-padding-small;
    padding-right: $page-content-padding-small;
  }

  @include for-xxs-down {
    padding-left: $page-content-padding-xxs-down;
    padding-right: $page-content-padding-xxs-down;
  }
}

.gl-title {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -.02em;
  @include for-hg-down {
    font-size: 34px;
  }
  @include for-xs-down {
    font-size: 26px;
    font-weight: normal;
    line-height: 31px;
  }
}

// btn

.gl-btn-slide {
  width: 39px;
  height: 39px;
  background-size: 24px 24px;

  &.mod-left {
    background-image: url("assets/icons/arrow-left.svg");
  }

  &.mod-right {
    background-image: url("assets/icons/arrow-right.svg");
  }
}

.gl-main-btn {
  border: 1px solid $main-color;
  font-size: 16px;
  line-height: 19px;
  padding: 20px 24px 20px 40px;
  color: $main-color;
  border-radius: 7px;
  transition: 400ms;
  position: relative;
  max-width: 212px;
  white-space: nowrap;

  @include for-xs-down {
    font-size: 12px;
    line-height: 19px;
    max-width: 154px;
    padding: 10px 15px 10px 30px;
  }

  &:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 50%;
    background-image: url("assets/icons/plus.svg");
    transform: translateY(-50%);
    left: 14px;
  }

  &:hover {
    box-shadow: inset 0 0 0 2em #{$main-color};
    color: $dark-color;

    &:before {
      background-image: url("assets/icons/plus-black.svg");
    }
  }
}

.gl-secondary-btn {
  padding: 20px 28px 20px 0;
  font-size: 16px;
  line-height: 19px;
  color: $main-color;
  background-image: url("assets/icons/arrow-right.svg");
  background-size: 18px 18px;
  background-position: top 50% right 6px;
  @include for-sm-down {
    font-size: 12px;
    line-height: 19px;
    max-width: 212px;
  }
}

.gl-control-inputs-wrap {
  display: flex;
  border-radius: 7px;
  overflow: hidden;

  &.mod-select {
    overflow: inherit;
  }
}
