<li id="main-layout-menu-item-host-{{prefixHostId}}"
  class="main-layout-menu-item-host">
  <a class="link">
    <span class="text">{{text}}</span>
    <span class="text mod-opacity">{{text}}</span>
  </a>
</li>
