<li id="main-layout-menu-item-host-{{prefixHostId}}"
  class="main-layout-menu-item main-layout-menu-item-host">
  <a class="main-layout-menu-item link">
    <span class="main-layout-menu-item text">{{text}}</span>
    <span class="main-layout-menu-item text mod-opacity">{{text}}</span>
  </a>
</li>
