@import 'styles/colors';
@import 'styles/consts';
@import 'styles/sizes';

.header {
  &.header-host {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding-top: 36px;

    @include for-sm-down {
      padding-top: 26px;
    }

    .block-wrap {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &.mod-left {
        display: flex;
        align-items: flex-start;
      }
    }
  }

  &.logo {
    width: 159px;
    height: 47px;
    object-fit: contain;
    margin-left: -28px;
  }

  &.phone {
    display: block;
    font-size: 20px;
    letter-spacing: -.03em;
    color: $main-color;
    margin-bottom: 8px;
  }

  &.phone-btn {
    background-image: url('assets/icons/phone.svg');
    border-radius: 100%;
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.phone-hint {
    font-size: 16px;
    color: $main-gray-color;
  }

  &.menu-wrap {
    display: flex;
    overflow: hidden;
  }

  &.burger-btn {
    width: 48px;
    height: 30px;
    position: relative;
    margin-left: 20px;
    padding: 10px;

    &:before, &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: $main-color;
      left: 0;
    }

    &:before {
      top: 10px;
    }

    &:after {
      bottom: 10px;
    }
  }
}

