<header class="header header-host gl-page-content">
  <div class="header block-wrap">
    <img src="assets/icons/logo.svg" alt="logo" class="header logo">
  </div>

  <div class="header block-wrap">
    <div class="header gl-md-hide">
      <a class="header phone" href="tel:+78002223790">8 800 222-37-90</a>
      <div class="header phone-hint">Работаем ежедневно с 10:00 до 20:00</div>
    </div>
  </div>

  <div class="header block-wrap mod-left">
    <ul class="header menu-wrap gl-md-hide">
      {{> main-layout-menu-item/main-layout-menu-item prefixHostId=0 text='Квартиры'}}
      {{> main-layout-menu-item/main-layout-menu-item prefixHostId=1 text='Ипотека'}}
      {{> main-layout-menu-item/main-layout-menu-item prefixHostId=2 text='Коммерция'}}
      {{> main-layout-menu-item/main-layout-menu-item prefixHostId=3 text='Управляющая компания'}}
    </ul>
    <div class="header gl-md-show">
      <button type="button" class="header phone-btn"></button>
    </div>

    <button type="button" class="header burger-btn"></button>
  </div>
</header>
