<header class="header gl-page-content">
  <div class="block-wrap">
    <img src="assets/icons/logo.svg" alt="logo" class="logo">
  </div>

  <div class="block-wrap">
    <div class="gl-md-hide">
      <a class="phone" href="tel:+78002223790">8 800 222-37-90</a>
      <div class="phone-hint">Работаем ежедневно с 10:00 до 20:00</div>
    </div>
  </div>

  <div class="block-wrap mod-left">
    <ul class="menu-wrap gl-md-hide">
      <li class="item-menu">
        <a>Квартиры</a>
        <a>Квартиры</a>
      </li>
      <li class="item-menu">
        <a>Ипотека</a>
        <a>Ипотека</a>
      </li>
      <li class="item-menu">
        <a>Коммерция</a>
        <a>Коммерция</a>
      </li>
      <li class="item-menu">
        <a>Управляющая компания</a>
        <a>Управляющая компания</a>
      </li>
    </ul>
    <div class="gl-md-show">
      <button type="button" class="phone-btn"></button>
    </div>

    <button type="button" class="burger-btn"></button>
  </div>
</header>
