{{#>main-layout/main-layout page-script="./example-page.js"}}
  <h1>Main page</h1>

  <h2>Dynamic iteration:</h2>
  <div id="example-page-example-api-items-container"></div>
  <br>
  <h2>Static iteration:</h2>
  {{> example-page-item/example-page-item name='name1' age='10'}}
  {{> example-page-item/example-page-item name='name2' age='14'}}

  {{> common-circle-loader/common-circle-loader postfixHostId=2}}

<!--  <img src="assets/example.png" alt="QR">-->
  <div class="QR"></div>
{{/main-layout/main-layout}}
