<div id="main-page-slide-descriptions-list-host"
     class="main-page-slide-descriptions-list main-page-slide-descriptions-list-host">
  {{> main-page-slide-description/main-page-slide-description
    forIndexSlide=0
    text='Большие парковые территории и безопасные дворы созданы для счастливой жизни'}}

  {{> main-page-slide-description/main-page-slide-description
    forIndexSlide=1
    text='Стильная архитектура и виды из окон будущей квартиры не оставят равнодушных'}}
</div>
