<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {{#if layout-script}}
    <script defer src="{{layout-script}}"></script>
    <script defer src="{{page-script}}"></script>
  {{/if}}
</head>
<body>
{{#if @partial-block}}
  {{> @partial-block }}
{{/if}}
</body>
</html>
