<div class="main-page-navigate-host" id="main-page-navigate-host">
  <div class="btns-slide-wrap gl-bg-hide">
    <button type="button" class="gl-btn-slide mod-left" id="btn-prev"></button>
    <button type="button" class="gl-btn-slide mod-right" id="btn-next">
      {{> common-circle-loader/common-circle-loader postfixHostId=1}}
    </button>
  </div>

  <div class="nav-wrap">

    {{> main-page-slide-description/main-page-slide-description
      forIndexSlide=0
      text='Большие парковые территории и безопасные дворы созданы для счастливой жизни'}}

    {{> main-page-slide-description/main-page-slide-description
      forIndexSlide=1
      text='Стильная архитектура и виды из окон будущей квартиры не оставят равнодушных'}}

    <div class="btns-nav-wrap">
      <button type="button" class="gl-main-btn btn-choose">
        Выбрать квартиру
      </button>
      <button type="button" class="gl-secondary-btn">
        Купить квартиру онлайн
      </button>
    </div>
  </div>
</div>
