<div class="main-page-navigate main-page-navigate-host" id="main-page-navigate-host">
  <div class="main-page-navigate btns-slide-wrap gl-bg-hide">
    <button type="button" class="main-page-navigate gl-btn-slide mod-left" id="btn-prev"></button>
    <button type="button" class="main-page-navigate gl-btn-slide mod-right" id="btn-next">
      {{> common-circle-loader/common-circle-loader postfixHostId=1}}
    </button>
  </div>

  <div class="main-page-navigate nav-wrap">

    {{> main-page-slide-descriptions-list/main-page-slide-descriptions-list}}

    <div class="main-page-navigate btns-nav-wrap">
      <button type="button" class="main-page-navigate gl-main-btn btn-choose">
        Выбрать квартиру
      </button>
      <button type="button" class="main-page-navigate gl-secondary-btn">
        Купить квартиру онлайн
      </button>
    </div>
  </div>
</div>
