{{#>main-layout/main-layout page-script="./main-page.js" videoIsVisibled=true}}
  <div class="main-page main-page-host">
    <div class="main-page container">
      <img class="main-page flag" src="assets/icons/flag.png" alt="flag">
      <div class="main-page blocks-wrap gl-page-content">
        {{> main-page-social/main-page-social }}

        {{> main-page-locations/main-page-locations }}

        {{> main-page-navigate/main-page-navigate }}
      </div>
    </div>
  </div>
{{/main-layout/main-layout}}
