$transition-duration-on-right: 300ms;
$transition-duration-on-left: 600ms;
$move-step: 50px;

.main-page-slide-description {
  position: absolute;
  top: 0;
  left: 0;
  transition-property: transform, opacity;
  opacity: 0;

  &.mod-on-right {
    left: -($move-step);
    transition-duration: $transition-duration-on-right;
    margin-right: $move-step * 2;
  }

  &.mod-on-lift {
    left: $move-step;
    transition-duration: $transition-duration-on-left;
  }

  &.mod-hide {
    pointer-events: none;
    opacity: 0;

    &.mod-on-right {
      animation-name: amin-hide-on-right;
      animation-duration: $transition-duration-on-right;
    }

    &.mod-on-lift {
      animation-name: amin-hide-on-left;
      animation-duration: $transition-duration-on-left;
    }
  }

  &.mod-show {
    opacity: 1;

    &.mod-on-right {
      transform: translateX($move-step);
    }

    &.mod-on-lift {
      transform: translateX(-($move-step));
    }
  }

  @keyframes amin-hide-on-right {
    0% {
      transform: translateX($move-step);
    }
    100% {
      transform: translateX($move-step * 2);
    }
  }

  @keyframes amin-hide-on-left {
    0% {
      transform: translateX(-($move-step));
    }
    100% {
      transform: translateX(-($move-step * 2));
    }
  }
}
