@import 'styles/colors';

.main-page-locations-host {
  .locations-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 44px;
  }

  .location-item {
    font-size: 16px;
    color: $main-gray-color; // todo не тот цвет
    transition: color 300ms, border-bottom 300ms;
    padding: 6px;
    text-decoration: underline;
    display: inline-block;

    &:hover {
      border-color: $main-color;
      color: $main-color;
    }
  }

  .location-descriptions-wrap {
    margin-top: 23px;
    position: relative;
  }
}
