@import 'styles/colors';

.main-page-locations-host {
  .locations-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px 44px;
  }

  .location-item {
    font-size: 16px;
    color: $opacity-color;
    border-bottom: 1px solid $opacity-color;
    transition: color 300ms, border-bottom 300ms;

    &:hover {
      border-color: $main-color;
      color: $main-color;
    }
  }

  .location-descriptions-wrap {
    margin-top: 23px;
    position: relative;
  }
}
