<div id="main-page-locations-host"
     class="main-page-locations main-page-locations-host gl-bg-hide">
  <ul class="main-page-locations locations-list">
    <li><a class="main-page-locations location-item">Северный парк</a></li>
    <li><a class="main-page-locations location-item">Ренесанс</a></li>
    <li><a class="main-page-locations location-item">Станция Столичная</a></li>
    <li><a class="main-page-locations location-item">Компасс сити</a></li>
    <li><a class="main-page-locations location-item">Лето</a></li>
    <li><a class="main-page-locations location-item">Бруклин</a></li>
    <li><a class="main-page-locations location-item">Сказочный сад</a></li>
    <li><a class="main-page-locations location-item">Монблан</a></li>
    <li><a class="main-page-locations location-item">Краски</a></li>
  </ul>

  <div class="main-page-locations location-descriptions-wrap">
    {{> main-page-location-description/main-page-location-description
      postfixHostId=0
      imageSrc='assets/images/locations/north-park.png'
      caption='Северный парк'
      description='Жилой комплекс небывалого масштаба с развитой инфраструктурой'}}

    {{> main-page-location-description/main-page-location-description
      postfixHostId=1
      imageSrc='assets/images/locations/north-park.png'
      caption='Ренесанс'
      description='Ренесанс Жилой комплекс небывалого масштаба с развитой инфраструктурой'}}

    {{> main-page-location-description/main-page-location-description
      postfixHostId=2
      imageSrc='assets/images/locations/north-park.png'
      caption='Станция Столичная'
      description='Станция Столичная Жилой комплекс небывалого масштаба с развитой инфраструктурой'}}

    {{> main-page-location-description/main-page-location-description
      postfixHostId=3
      imageSrc='assets/images/locations/north-park.png'
      caption='Компасс сити'
      description='Жилой комплекс небывалого масштаба с развитой инфраструктурой'}}

    {{> main-page-location-description/main-page-location-description
      postfixHostId=4
      imageSrc='assets/images/locations/north-park.png'
      caption='Лето'
      description='Жилой комплекс небывалого масштаба с развитой инфраструктурой'}}

    {{> main-page-location-description/main-page-location-description
      postfixHostId=5
      imageSrc='assets/images/locations/north-park.png'
      caption='Бруклин'
      description='Жилой комплекс небывалого масштаба с развитой инфраструктурой'}}

    {{> main-page-location-description/main-page-location-description
      postfixHostId=6
      imageSrc='assets/images/locations/north-park.png'
      caption='Сказочный сад'
      description='Жилой комплекс небывалого масштаба с развитой инфраструктурой'}}

    {{> main-page-location-description/main-page-location-description
      postfixHostId=7
      imageSrc='assets/images/locations/north-park.png'
      caption='Монблан'
      description='Жилой комплекс небывалого масштаба с развитой инфраструктурой'}}

    {{> main-page-location-description/main-page-location-description
      postfixHostId=8
      imageSrc='assets/images/locations/north-park.png'
      caption='Краски'
      description='Жилой комплекс небывалого масштаба с развитой инфраструктурой'}}
  </div>
</div>
