<div class="main-page-locations-host gl-bg-hide">
  <ul class="locations-list">
    <li><a class="location-item">Северный парк</a></li>
    <li><a class="location-item">Ренесанс</a></li>
    <li><a class="location-item">Станция Столичная</a></li>
    <li><a class="location-item">Компасс сити</a></li>
    <li><a class="location-item">Лето</a></li>
    <li><a class="location-item">Бруклин</a></li>
    <li><a class="location-item">Сказочный сад</a></li>
    <li><a class="location-item">Монблан</a></li>
    <li><a class="location-item">Краски</a></li>
  </ul>

  <div class="location-description">
    <img src="assets/icons/locations-api/north-park.png" alt="location"
         class="location-image">
    <div class="location-caption">Северный парк</div>
    <div class="location-value">
      Жилой комплекс небывалого масштаба с развитой инфраструктурой
    </div>
  </div>
</div>
