<div class="common-circle-loader-host" id="common-circle-loader-host-{{postfixHostId}}">
  <div class="label"></div>
  <div class="pie">
    <div class="half-circle mod-left-side"></div>
    <div class="half-circle mod-right-side"></div>
  </div>
  <div class="shadow"></div>
</div>
