{{#>app/index page-script=page-script}}
  <div class="main-layout-host">

    {{#if videoIsVisibled}}
      {{> main-layout-slider/main-layout-slider}}
    {{/if}}

    <div class="header-wrap">
      {{> main-layout-header/main-layout-header}}
    </div>

    <div class="layout-content">
      {{#if @partial-block}}
        {{> @partial-block }}
      {{/if}}
    </div>

    <div class="footer-wrap">
      {{> main-layout-footer/main-layout-footer}}
    </div>
  </div>
{{/app/index}}
