<div id="location-description-host-{{postfixHostId}}"
     class="location-description-host">
  <img src="{{imageSrc}}" alt="location"
       class="image">
  <div class="caption">
    {{caption}}
  </div>
  <div class="description">
    {{description}}
  </div>
</div>
