<footer class="footer footer-host" id="footer-host">
  <form class="footer form-wrap gl-page-content gl-md-hide">

    <div class="footer control-wrap">
      <div class="footer control-caption">Количество комнат</div>
      <div class="footer gl-control-inputs-wrap">
        <label class="footer input-checkbox">
          <input type="checkbox" name="rooms">
          <span class="footer input-content">студия</span>
        </label>
        <label class="footer input-checkbox">
          <input type="checkbox" name="rooms">
          <span class="footer input-content">1</span>
        </label>
        <label class="footer input-checkbox">
          <input type="checkbox" name="rooms">
          <span class="footer input-content">2</span>
        </label>
        <label class="footer input-checkbox">
          <input type="checkbox" name="rooms">
          <span class="footer input-content">3</span>
        </label>
        <label class="footer input-checkbox">
          <input type="checkbox" name="rooms">
          <span class="footer input-content">4</span>
        </label>
      </div>
    </div>

    <div class="footer control-wrap">
      <div class="footer control-caption">Площадь</div>
      <div class="footer gl-control-inputs-wrap">
        <label class="footer input-slider">
          <span class="footer input-content">от</span>
          <input type="number" id="input-square-from">
        </label>
        <label class="footer input-slider">
          <span class="footer input-content">до</span>
          <input type="number" id="input-square-to">
        </label>
      </div>
      {{> common-double-slider/common-double-slider prefixHostId=0}}
    </div>

    <div class="footer control-wrap">
      <div class="footer control-caption">Стоимость, млн ₽</div>
      <div class="footer gl-control-inputs-wrap">
        <label class="footer input-slider">
          <span class="footer input-content">от</span>
          <input type="number" id="input-cost-from">
        </label>
        <label class="footer input-slider">
          <span class="footer input-content">до</span>
          <input type="number" id="input-cost-to">
        </label>
      </div>
      {{> common-double-slider/common-double-slider prefixHostId=1}}
    </div>

    <div class="footer control-wrap">
      <div class="footer control-caption">Жилой комплекс</div>

      {{> common-select/common-select }}

    </div>
  </form>

  <div class="footer gl-page-content gl-md-show footer-content-mobile">
    <label class="footer input-search-wrap">
      <input class="footer input-search" type="text" placeholder="Подобрать квартиру">
    </label>
  </div>
</footer>
