<footer class="footer" id="footer-host">
  <form class="form-wrap gl-page-content gl-md-hide">

    <div class="control-wrap">
      <div class="control-caption">Количество комнат</div>
      <div class="control-inputs-wrap">
        <label class="input-wrap mod-checkbox">
          <input type="checkbox" name="rooms">
          <span class="input-content">студия</span>
        </label>
        <label class="input-wrap mod-checkbox">
          <input type="checkbox" name="rooms">
          <span class="input-content">1</span>
        </label>
        <label class="input-wrap mod-checkbox">
          <input type="checkbox" name="rooms">
          <span class="input-content">2</span>
        </label>
        <label class="input-wrap mod-checkbox">
          <input type="checkbox" name="rooms">
          <span class="input-content">3</span>
        </label>
        <label class="input-wrap mod-checkbox">
          <input type="checkbox" name="rooms">
          <span class="input-content">4</span>
        </label>
      </div>
    </div>

    <div class="control-wrap">
      <div class="control-caption">Площадь</div>
      <div class="control-inputs-wrap">
        <label class="input-wrap mod-line">
          <span class="input-content">от</span>
          <input type="number" id="input-square-from">
        </label>
        <label class="input-wrap mod-line">
          <span class="input-content">до</span>
          <input type="number" id="input-square-to">
        </label>
      </div>
      {{> common-double-slider/common-double-slider prefixHostId=0}}
    </div>

    <div class="control-wrap">
      <div class="control-caption">Стоимость, млн ₽</div>
      <div class="control-inputs-wrap">
        <label class="input-wrap mod-line">
          <span class="input-content">от</span>
          <input type="number" id="input-cost-from">
        </label>
        <label class="input-wrap mod-line">
          <span class="input-content">до</span>
          <input type="number" id="input-cost-to">
        </label>
      </div>
      {{> common-double-slider/common-double-slider prefixHostId=1}}
    </div>

    <div class="control-wrap">
      <div class="control-caption">Жилой комплекс</div>

      <div class="control-inputs-wrap mod-select">
        <div class="input-wrap mod-select">
          <div class="input-wrap mod-select">
            <div class="select-title" id="select-title">выберете</div>
            <div class="options-wrap" id="options-wrap">
              <div class="option-item">Северный парк</div>
              <div class="option-item">Станция столичная</div>
              <div class="option-item">Лето</div>
              <div class="option-item">Сказочный сад</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="gl-page-content gl-md-show footer-content-mobile">
    <label class="input-search-wrap">
      <input class="input-search" type="text" placeholder="Подобрать квартиру">
    </label>
  </div>
</footer>
