<div class="main-layout-slider main-layout-slider-host" id="main-layout-slider-host">
  <div class="main-layout-slider video-wrap mod-upper-stated">
    <video autoplay muted loop class="main-layout-slider video">
      <source src="assets/videos/puppies-video.mp4" type="video/mp4">
    </video>
  </div>
  <div class="main-layout-slider video-wrap">
    <video autoplay muted loop class="main-layout-slider video">
      <source src="assets/videos/flowers-video.mp4" type="video/mp4">
    </video>
  </div>
</div>
