@import 'styles/sizes';

.main-page-social-host {
  height: 100%;
  margin-top: 190px;
  @include for-hg-down {
    margin-top: 90px;
  }

  .social-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .social-link {
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    position: relative;

    &:after, &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 300ms;
      background-size: auto;
    }

    &:after {
      opacity: 1;
    }

    &:before {
      opacity: 0;
    }

    &:hover {
      &:after {
        opacity: 0;
      }

      &:before {
        opacity: 1;
      }
    }

    &.mod-facebook {
      &:after {
        background-image: url("assets/icons/social/facebook.svg");
      }

      &:before {
        background-image: url("assets/icons/social/facebook-hover.svg");
      }
    }

    &.mod-inst {
      &:after {
        background-image: url("assets/icons/social/inst.svg");
      }

      &:before {
        background-image: url("assets/icons/social/inst-hover.svg");
      }
    }

    &.mod-twitter {
      &:after {
        background-image: url("assets/icons/social/twitter.svg");
      }

      &:before {
        background-image: url("assets/icons/social/twitter-hover.svg");
      }
    }

    &.mod-vk {
      &:after {
        background-image: url("assets/icons/social/vk.svg");
      }

      &:before {
        background-image: url("assets/icons/social/vk-hover.svg");
      }
    }
  }
}
