<ul class="main-page-social-host gl-lg-hide">
  <li class="social-item">
    <a class="social-link mod-facebook"></a>
  </li>
  <li class="social-item">
    <a class="social-link mod-inst"></a>
  </li>
  <li class="social-item">
    <a class="social-link mod-twitter"></a>
  </li>
  <li class="social-item">
    <a class="social-link mod-vk"></a>
  </li>
</ul>
